<%- include('./includes/head.ejs') %>

<title><%= pageTitle %></title>
</head>
<body>

  <%- include('./includes/navigation.ejs') %>

   <main class="details-product">
       <div class="product-text">
           <h1><%= product.name %></h1>
           <p>
            <%= product.description %>
           </p>
           <p class="product-price">ZMW<%= product.price %></p>
           <form action="/user/">
            <button type="submit">Buy Now</button>
           </form>
       </div>
       <div class="product-image">
         <img src="<%= product.image %>" alt="<%= product.name %>">
       </div>
   </main>

  <%- include('./includes/footer.ejs') %>